* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    display: grid;
    grid-template-rows: 1fr 9fr 0.5fr;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

#header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 10px 15px;
    /* height: 75px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;
}

#left-div {
    display: flex;
    gap: 10px;
}

button {
    cursor: pointer;
    z-index: 2;
}

button:hover {
    background: yellow;
}

.input-and-buttons-div {
    position: relative;
}

.input-and-buttons-div input{
    height: 40px;
}

.input-and-buttons-div .buttons-div {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    display: flex;
    gap: 5px;

}

.add-todo-button-div .add-button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

#todo-popup {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 3;
    width: 750px;
    height: 175px;
    max-width: 60%;
    display: none;
}

#todo-popup.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#overlay {
    display: none;
}

#overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2); 
}

.todo-form {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-input, .details-input {
    width: 715px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.action-buttons {
    padding: 10px 15px;
    align-self: flex-end;
    display: flex;
    gap: 10px;
}

.action-buttons button {
    padding: 5px 10px;
}

#sidebar {
    display: none;
}

#sidebar.active {
    display: block;
    background: blue;
    grid-row : 2 / 3;
    grid-column: 1 / 2;
}

#sidebar > div {
    padding: 20px 30px;
}

#sidebar-home > div {
    padding: 10px 15px;
}

#sidebar-projects > button {
    margin: 10px 15px;
}

#sidebar-projects > form {
    margin: 10px 15px;
}

.project-form {
    display: none;
}

.project-form.active {
    display: block;
}

#sidebar-all-projects > div {
    cursor: pointer;
}

#sidebar-all-projects > div:hover {
    color: red;
}

#body {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background: pink;
}

#body.smaller{
    grid-column: 2 / 3;
}

#footer {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background: green;
}