@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;700&family=Lexend:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

:root {
    --gray: #D9D9D9;
    --green: #008435;
    --blue: #002584;
    --light-blue: #CCDAFF;
}

#content {
    display: grid;
    grid-template-rows: 1fr 9fr 0.5fr;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

#header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green);
}

#left-div {
    display: flex;
    gap: 10px;
}

#left-div button {
    background-image: url("./assets/bars-3.svg");
    background-size: cover;
    width: 35px;
    height: 35px;
}

#left-div h1 {
    color: white;
}

button {
    cursor: pointer;
    z-index: 2;
}

button:hover {
    background: var(--light-blue);
}

#header .input-and-buttons-div {
    position: relative;
}

#header .input-and-buttons-div input{
    height: 40px;
}

#header .input-and-buttons-div .buttons-div {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    display: flex;
    gap: 5px;

}

.todo-form.quick .buttons-div #details-button {
    border: none;
    background-color: transparent;
    background-image: url("./assets/bars-3.svg");
    background-size: cover;
    width: 25px;
    height: 25px; 
}

.todo-form.quick .buttons-div #add-button {
    border: none;
    background-color: transparent;
    background-image: url("./assets/plus.svg");
    background-size: cover;
    width: 25px;
    height: 25px; 
}


#todo-popup {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 3;
    width: 750px;
    height: 175px;
    max-width: 60%;
    display: none;
}

#todo-popup.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#overlay {
    display: none;
}

#overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2); 
}

.todo-form {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-input, .details-input {
    width: 715px;
    height: 30px;
    padding: 0;
    margin: 0;
}

.action-buttons {
    padding: 10px 15px;
    align-self: flex-end;
    display: flex;
    gap: 10px;
}

.action-buttons button {
    padding: 5px 10px;
}

#sidebar {
    display: none;
}

#sidebar.active {
    display: block;
    background: var(--gray);
    grid-row : 2 / 3;
    grid-column: 1 / 2;
}

#sidebar > div {
    padding: 20px 30px;
}

#sidebar h3 {
    font-weight: 400;
}

#sidebar-home > div, 
#sidebar-projects > div {
    padding: 10px 15px;
}

#sidebar-projects > button, 
#sidebar-projects > form {
    margin: 10px 15px;
}

#sidebar-home-projects > div {
    margin: 15px 20px;
}

#sidebar-all-projects > div {
    margin: 10px 20px;
}

#home-icon-and-header, 
#projects-icon-and-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#home-icon-and-header img,
#projects-icon-and-header img {
    width: 30px;
    height: 30px;
}

.project-form {
    display: none;
}

.project-form.active {
    display: block;
}

.project-form .input-and-buttons-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-form .input-and-buttons-div button {
    border: none;
    background-color: transparent;
    background-image: url("./assets/plus-circle.svg");
    background-size: cover;
    width: 25px;
    height: 25px; 
}

#sidebar-home-projects > div, 
#sidebar-all-projects > div {
    cursor: pointer;
}

#sidebar-home-projects > div:hover, 
#sidebar-all-projects > div:hover {
    color: var(--blue);
}

#body {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

#body.smaller{
    grid-column: 2 / 3;
}

#footer {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background: var(--green);
}